<!-- <nav class="navbar navbar-default" role="navigation">
<!—Logo e pulsante per barra ridimensionata -->
<!-- <div class="navbar-header" style="display: flex ; height: 55px;">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Espandi barra di navigazione</span>
    <span class="icon-bar">a</span>
    <span class="icon-bar">b</span>
    <span class="icon-bar">c</span>
  </button>
  <img id="immagine" src="app-dwh\src\assets\logo.png" style="width:109px ; height: 55px;  " >
</div>

<!—Elementi della barra -->
<!-- <div class="collapse navbar-collapse navbar-ex1-collapse" >
  <ul class="nav navbar-nav" >
    <li><a href="#" style=" height: 55px">Link a</a></li>
    <li><a href="#" style=" height: 55px">Link b</a></li>
  </ul>
</div>

</nav> --> 
<app-job></app-job>
